body{
  font-family: "Open Sans", sans-serif;
  color: #272829;
  margin: 0;
  padding: 0;
  background-image: url("https://i.pinimg.com/236x/34/57/04/3457043cd617b4edaaee1722e861c504.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
h1{
    color: wheat;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
nav{
    color: #778ea5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #272829;

}
.logo a{
    text-decoration: none;
    font-size: 24px;

}
.nav-links{
    text-decoration: none;
    display: flex;
    padding: 10px;
    margin: 10px;
    justify-content: flex-end;
    list-style: none;

    


}
.nav-links a{
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #a58094;
    justify-content: space-between;
    margin: 30px;
    list-style: none;
    font-size: 30px;
}
.user-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#search {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

#search::placeholder {
    color: #999;
}
#search-btn{
    color: #767171;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    
}
#search-btn {
    cursor: pointer;
  }
  
.profile {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.profile p {
    font-size: 18px;
}

/* Additional styles for better appearance */
.container {
    background-color: #f5f5f5;
}

.container::after {
    content: "";
    flex-grow: 1;
}

.container .profile {
    max-width: 600px;
    margin: 0 auto;
}
.popup {
    display: none;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #a58094;
    color: #fff;
    padding: 10px;
    text-align: center;
    z-index: 999;
  }
  
  .popup p {
    margin: 0;
  }
  
  .popup.show {
    display: block;
  }
  
  
/* Add styles for the suggestions */
#suggestions {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .suggestion {
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 5px;
  }
  
  .suggestion:hover {
    background-color: #eaeaea;
  }
  .container {
    position: relative;
  }
  
  #user-not-found {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #f44336;
    color: #fff;
    display: none;
  }
  
  #user-not-found.show {
    display: block;
  }
   