body{
    background-color: rgb(10, 10, 45);
}
h1 {
    text-align: center;
    color: #767171;
}

.user-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#search {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

#search::placeholder {
    color: #999;
}
#search-btn{
    color: #767171;
    width: 150px;
    height: 50px;
    border-radius: 10px;
}